*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Century Gothic;
    margin: 0;
}

.container {
    margin: 0 120px;
}

p{
    margin: 0;
}

h1{
    margin: 0;
}

/* Header */

.header {
    position: fixed;
    padding: 20px 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    
    opacity: .7;
    z-index: 1222;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__inner{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    width: 100px;
    z-index: 33;
}

.header__burger{
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.header__logo{
    height: 40px;
    width: 40px;

    margin-left: 32px;

    background: url("img/logo.png") no-repeat center;
    background-size: 100%;

    cursor: pointer;
}

.header__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    min-width: 955px;
    
    align-items: center;
    text-align: center;

}

.header__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    align-items: center;
}

.header__link {
    margin-right: 120px;

    font-size: 18px;

    align-items: center;
    text-align: center;

    color: rgb(46, 46, 46);
    text-decoration: none;
}

.header__link:hover {
    font-weight: 700;
    color: #223a76;
    text-decoration: underline;
}


/* Intro */
.intro {
    position: relative;
}

.intro__items {
    position: relative;
    width: 50%;
    height: 100vh;
}

.intro__text {
    position: absolute;            
    top: 50%;                         
    transform: translate(0, -50%);
}

.intro__img{
    position: absolute;

    height: 90%;
    width: 90%;

    top: 0;
    right: 0;

    background: url("img/intro.png") no-repeat center;
    background-size: cover;
    
    z-index: -1;
}

.intro__subtitle {
    margin: 0;
    font-size: 74px;
    font-weight: 700;
    align-items: center;
    color: #223a76;
}

.intro__title {
    margin: 0;
    margin-top: 10px;

    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    align-items: center;
}

/* Appeal */

.appeal__inner{
    margin: 75px 220px;
}

.appeal__title{
    margin-bottom: 75px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color:black;
}

.appeal__items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.appeal__item{

    padding: 30px 110px;
    text-align: center;
    border-right: dotted;
    border-color: #223a76;
    
}

.appeal__item:last-child{

    border-right: none;
}

.appeal__item:hover {
    background-color: #223a76;
    color: white;
    cursor: pointer;
    transition: .3s;
    color: white;
}

.appeal__icon{
    position: relative;
    font-size: 200px;
    color: #223a76
}

.appeal__icon:hover{
    color: white;
}

.appeal__icon--img{
    display: block;
    content: "";

    height:230px;
    width: 230px;
}

.appeal__icon--title{

    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
}

/* Information */

.information {
    padding-top: 175px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__inner--left{
    width: 50%;
}

.contacts__inner--right{
    align-items: center;
    width: 50%;
}

.contacts__title {
    font-size: 48px;
    color: #223a76;
}

.contacts__title::after {
    display: block;
    content: "";

    background: #f9e547;
    box-shadow: 0px 4px 4px rgba(249, 229, 71, 0.6);
    border-radius: 5px;
    
    width: 254px;
    height: 5px;

    flex-wrap: wrap;
}

.contacts__infa {
    margin-top: 20px;
    font-size: 36px;
    line-height: 40px;
}

.contacts__email {
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #223a76;
}

.contacts__text {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    width: 80%;
    text-align: justify;
    color: #333333;
}

.contacts__link {
    display: flex;
    justify-content: start;
}

.contacts__link a {
    font-size: 25px;
    margin-right: 35px;
    color: #223a76;
    text-decoration: none;
}

.contacts__link i {
    color: #223a76;
}

.contacts__text span {
    color: #223a76;
    font-weight: 700;
}


/* Feedback */

.feedback {
    padding-top: 55px;
    text-align: justify;
}

.feedback__subtetle {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #223a76;
}

.feedback__title {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

.feedback__inner {
    margin-bottom: 30px;
    width: 90%;
    text-align: justify;
}

.feedback__input {
    margin-top: 40px;
    width: 100%;
}

.feedback__input input {
    font-weight: 200;
    font-size: 18px;
    border: 1px solid #223a76;
    line-height: 28px;
    margin-bottom: 30px;
    width: 100%;
    height: 55px;
}

.button{
    text-align: center;
}

.button button {
    height: 80px;
    width: 300px;
    text-align: center;
    font-size: 32px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 700;
    color: #f9e547;
    border: none;
    border-radius: 100px;
    background: #223a76;
    cursor: pointer;
}

.button button:hover {
    color: white;
    border: none;
}

/* Footer */

.footer{
    background: #223A76;
}

.footer__inner{

    padding: 45px 200px;

    display: flex;
    justify-content: space-between;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: white;
}

.footer__item{

}

.footer__title{
    margin-bottom: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

}

.footer__text {
    margin-bottom: 10px;
}

.footer__text p{
    margin-bottom: 10px;
}

.footer__text p:last-child{
    color: yellow;
}

.footer__link--icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__link--icon a{
    font-size: 25px;
    margin-right: 35px;
    color: white;
    text-decoration: none;
}

.footer__link{

    padding-bottom: 10px;

    display: block;
    color: white;
    text-decoration: none;
}

.footer__input{
    margin-bottom: 10px;
}

.footer__input input{
    height: 40px;
    width: 100%
}

.footer__but button{
    height: 30px;
}