*,*::before,*::after{
   box-sizing: border-box;
}

html,body{
   height: 100%;
   font-family: Century Gothic;
}

.container{
   display: flex;
   width: 100%;
   max-width: 1920px;
   padding: 0 50px;
}

.header{
   width: 100%;

   position: fixed;
   background: #eeebeb;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}

.header::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: none;
}

.header__body{
   position: relative;
   display: flex;
   z-index: 2;
   align-items: center;
   height: 80px;
}

.header__logo{
   flex: 0 0 60px;

}

.header__logo img{
   max-width: 100%;
   display: block;
   top: 30;
   left: 30;
}

.header__burger{
   margin: 0 30px;
}

.header__menu{
   display: flex;
   justify-content: space-between;
   margin-left: 155px;
   text-align: center;
}

@media(max-width:1920px){
   .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
   }

   .header__burger span{
      position: absolute;
      background-color: black;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
   }

   .header__burger::after,
   .header__burger::before{
      content: '';
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
   }
   .header__burger::before{
      top: 0;
   }
   .header__burger::after{
      bottom: 0;
   }
}

.header__list{
   display: flex;
   justify-content: space-between;
}

.header__list li{
   list-style: none;
   margin:  0px 0px 0px 20px;
}

.header__link{
   display: inline-block;
   margin: 0 35px;
   color: rgb(46, 46, 46);
   text-transform: uppercase;
   text-decoration: none;
}

.header__link:hover{
   color: black;
   text-decoration: underline;
}

/* Intro */
.intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 70vh;
}

.intro__items{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.intro__text{
   display: block;
   position: relative;
   z-index:2;
}

.intro__subtitle{
   margin-bottom: 5px;

   font-size: 74px;
   font-weight: 700;
   color: #223A76;
}

.intro__title{
   margin-top: 5px;
   font-size: 24px;
}

.intro__images{
   position: relative;
   width: 40%;
}

.intro__images img{
   display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.page2{
   display: flex;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 120%;
   background: rgba(249, 229, 71, 0.02);
}

.page2_subtitle{
   position: relative;
   left: 10%;
   top: 10px;
}

.page2_subtitle1{
   font-family: Century Gothic;
   font-style: normal;
   font-weight: normal;
   font-size: 52px;
   line-height: 64px;
   margin: 0px 8px;
}

.page2_subtitle2{
   font-family: Century Gothic;
   font-style: normal;
   font-weight: bold;
   font-size: 52px;
   line-height: 64px;   
   color: #223A76;
}

.page2_body{
   position: relative;
   display: block;
   align-items: center;
   left: 20%;
   top: 12%;
   width: 50%;
}

.page2_body_image{
   position: relative;
   width: 100%;
}

.page2_body_image img{
   position: relative;
   height: 7px;
   width: 100%;
}

.page2_body_text{
   position: absolute;
   top: 0;
	bottom: 0;
	left: 0;
	right: 0;
   margin: auto;
   margin-top: 15px;
   width: 75%;
}

.page2_body_text a{
   font-family: Century Gothic;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 40px;
   color: #333333;
}

.page3{
   display: flex;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 200%;
   background: rgba(249, 229, 71, 0.02);
}

.page3_subtitle{
   position: relative;
   left: 10%;
}

/* Information */

.information{
   display: flex;
   justify-content: space-between;
   position: absolute;
   width: 1942px;
   height: 1569px;
   left: 0;
   top: 2097px;

   background-size: cover;
}

.information__inner{
   line-height: 1.5px;
   margin-left:  10%;
   width: 30%;
}

.contacts__title{
   margin-top: 10px;
   font-weight: bold;
   font-size: 48px;
   color: #223A76;
}

.contacts__title::after{
   content: "";
   display: block;
   background: #F9E547;
   box-shadow: 0px 4px 4px rgba(249, 229, 71, 0.6);
   border-radius: 5px;
   width: 200px;
   height: 5px;
}

.contacts__infa{
   margin-top: 20px;

   font-size: 36px;
   line-height: 40px;
}

.contacts__email{
   margin-top: 10px;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;

   color: #223A76;
}

.contacts__text{
   margin-top: 10px;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   width: 90%;

   text-align: justify;

   color: #333333;
}

.contacts__link{
   display: flex;

   justify-content: start;
}

.contacts__link a{
   font-size: 25px;
   margin-right: 35px;
   color: #223A76;

   
   text-decoration: none;
}

.contacts__link i{
   color: #223A76;
}

.contacts__text span{
   color: #223A76;
   font-weight: 700;
}


/* Feedback */
.feedback{
   margin-top: 110px;
   margin-left: 200px;
   margin-right: 100px;
   width: 40%;
}

.feedback__subtetle{
   text-align: justify;

   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 37px;

   color: #223A76;
}

.feedback__title{
   margin-top: 10px;

   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 29px;
}

.feedback__inner{
   margin-bottom: 30px;
}

.feedback__input{
   margin-bottom: 5px;
}

.feedback__input input{
   font-weight: 200;
   font-size: 18px;
   border: 1px solid #223A76;
   line-height: 28px;
   margin-bottom: 30px;
   width: 700px;
   height: 55px;
}

.button{
   text-align: center;
}


